// DEMOS v1.0
// Copyright 2012, Stephen Lubbock
// www.getdemos.co.uk
// Based upon Skeleton Copyright 2011, Dave Gamache

// Table of Contents
// ==================================================
//	#Reset & Basics
//	#Typography
//	#Links
//	#Lists
//	#Images
//	#Forms
//	#Tables
//	#Alerts
//	#Misc

// #Reset & Basics (Inspired by E. Meyers)
// ==================================================

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}
	
	body {
		line-height: 1;
	}
	
	ol, ul {
		list-style: none;
	}
	
	blockquote, q {
		quotes: none;
	}
	
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

// #Typography
// ==================================================

  @mixin fontForm($value) {
    $value: 1+(($value - 16)/16);
    font-size: $value+em;
    line-height: 1.5em;
  }
  
  body {
    @include fontForm(14);
    font-family: "Helvetica", Arial, sans-serif;
    -webkit-font-smoothing: antialiased; // Fix for webkit rendering
    -webkit-text-size-adjust: 100%;
  }

	h1, h2, h3, h4, h5, h6 {
		font-family: "Helvetica", Arial, sans-serif;
		font-weight: normal;
	}
	
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		font-weight: inherit;
	}
	
	h1 { @include fontForm(46); margin-bottom: 12px; }
	h2 { @include fontForm(35); margin-bottom: 10px; }
	h3 { @include fontForm(28); margin-bottom: 8px; }
	h4 { @include fontForm(21); margin-bottom: 8px; }
	h5 { @include fontForm(17); margin-bottom: 6px; }
	h6 { @include fontForm(14); margin-bottom: 4px; }

	p {
		margin: 0 0 20px 0;
		p img {
			margin: 0;
		}
		&:last-child {
			margin-bottom: 0px;
		}
	}
	
	p.lead { @include fontForm(21) }

	em { font-style: italic; }
	strong { font-weight: bold; }
	small { font-size: .8em; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 20px 0 20px; height: 0; }

// #Lists
// ==================================================
	ul, ol { margin-bottom: 20px;
	 &:last-child {
	   margin-bottom: 0px;
	 }
	}
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: .9em;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

// #Images
// ==================================================

	img.scale-down {
		max-width: 100%;
		height: auto;
	}
	
	img.scale-up {
    min-width: 100%;
    height: auto;
  }

// #Forms
// ==================================================

	form {
		margin-bottom: 20px;
	}
	
	fieldset {
		margin-bottom: 20px;
	}
	
	input[type="text"], input[type="password"], input[type="email"], input[type="date"], textarea, select {
		border: 1px solid #ccc;
		padding: 8px 10px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "Helvetica", Arial, sans-serif;
		margin: 0;
		width: 100%;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	
	input[type="file"] {
  	margin-bottom: 20px;
	}
	
	// Remove box-sizing and default to generic width in IE7
	.lt-ie8 input[type="text"], .lt-ie8 input[type="password"], .lt-ie8 input[type="email"], .lt-ie8 textarea, .lt-ie8 select {
		width: auto;
		clear: both;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	select {
		padding: 0;
	}
	
	input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
		border: 1px solid #aaa;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2);
	}
	
	textarea {
		min-height: 60px;
	}
	
	label, legend {
		display: block;
		font-weight: bold;
		@include fontForm(13);
	}
	
	input[type="checkbox"] {
		display: inline;
	}
	
	label span, legend span {
		font-weight: normal;
		@include fontForm(13);
	}
	
// #Tables
// ==================================================

  table {
    width: 100%;
    
    tr {
      background: #FFF;
      
      &:nth-child(even) {
        background: #F1F1F1;
      }
      
      td, th {
        padding: 10px;
        
        input[type="text"], input[type="password"], input[type="email"], input[type="date"], textarea, select {
	        margin-bottom: 0px;
        }
        
      }
      
      th {
        border-bottom: 1px solid #E1E1E1;
        border-right: 1px solid #E1E1E1;
        
        &:last-child {
          border-right: none;
        }
      }
      
    }
    
  }
  
// #Alerts
// ==================================================

  .error, .success, .notification {
    display: block;
    padding: 15px;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: bold;
  }
  
  .error {
    background: #d02a2a;
  }
  
  .success {
    background: #88d02a;
  }
  
  .notification {
    background: #ffa800;
  }