// DEMOS v1.0
// Copyright 2012, Stephen Lubbock
// www.getdemos.co.uk
// Based upon Skeleton Copyright 2011, Dave Gamache

// Table of Content
// ==================================================
//	#Global Variables
//	#Percentage Variables

// #Global Variables
// ==================================================

	$maxWidth: 1140px;
	$columns: 12;
	$maxColumn: $maxWidth / $columns;
	
	$columnNames: "one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "ten", "eleven", "twelve";
	
// #Percentage Variables
// ==================================================

	$percentIncrement: 5;
	$percentMin: 5;
	$percentMax: 100;
	$percentIteration: $percentMax / $percentIncrement;
	