/* DEMOS v1.0
 * Copyright 2012, Stephen Lubbock
 * www.getdemos.co.uk
 * Based upon Skeleton Copyright 2011, Dave Gamache */

// Table of Contents
// ==================================================
//  #Imports
//	#Drivers
//	#Clearing

// #Imports
// ==================================================

	//@import "includes/chosen";

  //DEMOS Theming	
	//@import "themes/base";
	
// #Drivers
// ==================================================

	// Percentage Grid
	//@import "drivers/percentage.scss";
  //@import "drivers/percentage-tablet.scss";
	
	// Standard Grid
	//@import "drivers/1140px";
	//@import "drivers/960px";
	//@import "drivers/tablet-portrait";
	//@import "drivers/mobile-landscape";
	//@import "drivers/mobile-portrait";
    
// #Clearing
// ==================================================

	// Self Clearing
    .container {
    	&:after {
	    	content: "\0020";
	    	display: block;
	    	height: 0;
	    	clear: both;
	    	visibility: hidden;
	    }
    }

    // Use clearfix class on parent to clear nested columns,
    // or wrap each row of columns in a <div class="row">
    .clearfix, .row {
    	&:before, &:after {
	    	content: '\0020';
	    	display: block;
	    	overflow: hidden;
	    	visibility: hidden;
	    	width: 0;
	    	height: 0;
	    }
    }
    
    .row, .clearfix {
    	&:after {
	    	clear: both;
	    }
    }
    
    .row,
    .clearfix {
      zoom: 1;
    }