// DEMOS v1.0
// Copyright 2012, Stephen Lubbock
// www.getdemos.co.uk
// Based upon Skeleton Copyright 2011, Dave Gamache

// #Tablet (Portrait)
// ==================================================

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container {
        	width: 768px;
        	
        	.column, .columns {
        		margin-left: 10px;
        		margin-right: 10px;
        	}
        	
        	
        	// Base Grid + Offets
	    	$i: 1;
	    	@each $name in $columnNames {
	    		.#{$name}.column, .#{$name}.columns { width: (64px * $i) - 20; }
	    		.offset-by-#{$name} { padding-left: 64px * $i; }
	    		$i: $i + 1;
	    	}
	    	$i: $i - 1;

        	// Thirds
        	.one-third.column			{ width: 236px; }
        	.two-thirds.column			{ width: 492px; }
        }
        
        .column.alpha, .columns.alpha	{ margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega	{ margin-right: 0; margin-left: 10px; }
        .alpha.omega					{ margin-left: 0; margin-right: 0; }
    }