// DEMOS v1.0
// Copyright 2012, Stephen Lubbock
// www.getdemos.co.uk
// Based upon Skeleton Copyright 2011, Dave Gamache

// Table of Content
// ==================================================
//  #Font Variables
//	#Column Variables

// #Font Variables
// ==================================================

  $baseFontSize: 100%;
  
  $bodyFontSize: 14;
  $h1FontSize: 46;
  $h2FontSize: 35;
  $h3FontSize: 28;
  $h4FontSize: 21;
  $h5FontSize: 17;
  $h6FontSize: 14;

// #Column Variables
// ==================================================

	$columns: 12;	
	$columnNames: "one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "ten", "eleven", "twelve";